# ===========================
# Aplicación
# ===========================
APP_NAME=Reserva Laboratorios
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

# ===========================
# Base de datos
# ===========================
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=reserva_laboratorios
DB_USERNAME=postgres
DB_PASSWORD=postgres123

# ===========================
# PostgreSQL
# ===========================
POSTGRES_DB=reserva_laboratorios
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123

# ===========================
# pgAdmin
# ===========================
PGADMIN_DEFAULT_EMAIL=admin@reserva.local
PGADMIN_DEFAULT_PASSWORD=admin123